<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{{ page.title }} - 听稻</title>
<meta name="description" content="{{ page.title }}" />
<link rel="stylesheet" media="screen" href="http://tingdao.org/assets/stylesheets/screen.css" type="text/css" />
<link rel="stylesheet" media="screen" href="http://tingdao.org/assets/stylesheets/calvin.css" type="text/css" />

</head>
<body>
<div id="page">
<header>
<nav><div id="menu"><ul>
<li id="m1"><a href="http://tingdao.org">@听稻</a></li>
<li id="m2"><a href="http://tingdao.org/calvin/">加尔文注释</a></li>
<li id="m3"><a href="http://tingdao.org/calvin/faq.0.0">关于</a></li>
</ul></div></nav>
<nav><div id="nav"><table><tbody><tr>
<td><a href="../{{ page.pv }}">&lt;--</a></td><td><h1>{{ page.title }}</h1></td><td><a href="../{{ page.nv }}">--&gt;</a></td>
</tr></tbody></table></div></nav>
</header>
<div class="content">{{ content }}</div>
</div>
<footer><div class="footer">
<div id="footer-top">Calvin's Commentaries</div>
<div id="footer-floor">© 2012 听稻. Some Rights Reserved.</div>
</div></footer>
</body>
</html>